<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Input</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <pre><%= JSON.stringify(employee, null, 2) %></pre>
        <h1 class="mt-5">Add Customer</h1>
        <form action="/customers" method="POST">
          <label for="HOTEN">Họ Tên:</label>
          <input type="text" id="HOTEN" name="HOTEN" required>
      
          <label for="DCHI">Địa Chỉ:</label>
          <input type="text" id="DCHI" name="DCHI">
      
          <label for="SODT">Số Điện Thoại:</label>
          <input type="text" id="SODT" name="SODT">
      
          <label for="NGSINH">Ngày Sinh:</label>
          <input type="date" id="NGSINH" name="NGSINH">
      
          <label for="NGDK">Ngày Đăng Ký:</label>
          <input type="date" id="NGDK" name="NGDK">
      
          <label for="DOANHSO">Doanh Số:</label>
          <input type="number" id="DOANHSO" name="DOANHSO">
      
          <label for="KHU_VUC">Khu Vực:</label>
          <select id="KHU_VUC" name="KHU_VUC" required>
              <option value="KV01">KV01</option>
              <option value="KV02">KV02</option>
              <option value="KV03">KV03</option>
          </select>
      
          <button type="submit">Thêm Khách Hàng</button>
        </form>
    </div>
</body>
</html>
